<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Scottish Ruby User Group  </title>
  <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen">
<link rel="index" title="Scottish Ruby User Group" href="http://scotrug.org/">
<link rel="canonical" href="http://scotrug.org/">
</head><body>

<div id="page">


<div id="header">
    <h1><a href="http://scotrug.org/">Scottish Ruby User Group</a></h1>
</div>
<hr>
  <div id="content" class="narrowcolumn">

        <div class="post">    <h2 id="post-2">Scottish Ruby User Group</h2>
      <div class="entrytext">       <p>The
Scottish Ruby User Group is a collection of people who are linked with
Scotland and have an interest in Ruby and, invariably, Ruby on Rails.
We meet every month for presentations from members and guests and a chat about Ruby and Ruby Related events. Everybody is
welcome and there are no subscriptions/costs involved.</p>
<h3>Meetings</h3>
<p>We meet on the
third Thursday of the month at 19:30 onwards, at The Edinburgh Training Centre, 16 St. Marys Street, Edinburgh, EH1 1SU (<a href="http://maps.google.co.uk/maps?client=safari&q=EH1+1SU&oe=UTF-8&ie=UTF8&hl=en&hq=&hnear=Edinburgh+EH1+1SU,+United+Kingdom&z=15">Google map</a>).  The meeting room costs are covered by <a href="http://www.freeagentcentral.com/">FreeAgent Central</a>, who provide online Accounting Software for freelancers and small businesses (written in Rails). </p>
<h4>Next Meeting</h4>
<p>On Thursday 20 May we will be having a lightning talks session.  So far we have:-</p>
<ul>
  <li>Arek Turlewicz talking on <a href="http://www.mongodb.org/">MongoDB</a>.
  <li>Jason Frame on about a little Ruby DSL for making your own text adventures.</li>
  <li><span style="text-decoration: line-through;">Ryan Stenhouse</span>Sam Eliot on Rack</li>
  <li>Drew Neil talking about his <a href="http://radiantcms.org/">Radiant</a> file_system plugin</li>
  <li>Mantas Masalskis on either Redis or HTML5/CSS3</li>
</ul> 

<p>More volunteers are welcome.  Send an email to the <a href="http://groups.google.com/group/scotrug">Google Group</a> to have a go.</p>


<h3>Mailing List / Google Group</h3>
<p>You can subscribe to the mailing list using the&nbsp;<a href="http://groups.google.com/group/scotrug">ScotRUG Google Group information page</a>. The list is for announcements of&nbsp;<strong>ScotRUG</strong>&nbsp;activities
and general support/discussion about Ruby (and Ruby on Rails!). Feel
free to post any questions you have; we’re an open and friendly
community. As of the last time I checked, the mailing list has around
75 members.</p>
<h3>Video</h3>

<p>Videos of previous presentations, provided courtesy of <a href="http://edgecase.com">EdgeCase UK</a>, are available <a href="http://vimeo.com/edgecaseuk">here</a>.</p>

<h3>IRC group</h3>
<p>We now also have an IRC channel available. It’s pretty quiet at the
moment, but I’m sure we’ll pick up a number of idlers now that it’s
been announced. You can find us on <code>irc.freenode.net</code>&nbsp;in&nbsp;<code>#<strong>scotrug</strong></code>.</p>


      </div>
    </div>
        </div>

  <div id="sidebar">
  </div>

<hr>
<div id="footer">
  <p>
  </p>
</div>
</div>

<!--
  Gorgeous design by Samir M. Nassar - http://steamedpenguin.com/design/Steam/
  Based on Kubrick by Michael Heilemann - http://binarybonsai.com/kubrick/
-->

</body></html>