body{
  margin: 0px;
  padding: 0px;
  background: #3877bc url(/images/bkg.jpg) repeat left top;
  text-align: justify;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666363;

}

h1, h2, h3 {
  font-size: 1.82em;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

.post h1, .post h2, .post h3{
  font-size: 1.1em;
  padding: 20px 0 10px;
}

a{
  color: #333;
  text-decoration: underline;
}
a:hover{
  text-decoration: underline;
}

code{
  background: #dfdfdf;
  display: block;
  padding-left: 40px;
  margin: 20px 0;
  color: black;
}

#page {
  margin:20px auto;
  padding:0;
  text-align:left;
  width:980px;
}

#header {	
  background: url(/images/ruby.png) no-repeat left bottom;
  height:120px;
  margin:0 auto;
  padding:0;
  width:100%;	
}
#header h1 {
  margin-left:80px;
  padding: 70px 0px 0 0px;
  width: 400px;
  text-transform: lowercase;
  letter-spacing: -3px;
  font-size: 3.5em;
  font-weight: normal;
  color: #FFFFFF;

  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
}
#header a{
  color: white;
  text-decoration: none;	
}

#header h1 a:hover{
  text-decoration: none;	
}

#header #twitter{
  float:right;
  background: url(/images/twitter.png) no-repeat right top;
  width: 130px;
  height: 35px;
  padding-top: 19px;
  margin-top: 80px;
  margin-right: 0px;
}

#header #twitter a{
  color: #97b2d5;
}

#content {
  background: url(/images/inner_bkg.jpg) repeat left top;
  padding: 20px;

  margin-top: 30px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#left {
  font-size: 1.2em;
  float: left;
  width: 280px;
  color: #b9d2f1;
}

#left .section{
  padding: 0px 20px 20px 0px;
}

#left a{
  color: white;
}

#left .section h2, #left .section h3{
  text-transform: lowercase;
  margin-bottom: 15px;
  letter-spacing: -1px;
  font-size: 1.5em;
  font-weight: normal;
  color: #FFFFFF;

  text-shadow: 1px 1px 1px #000;
  filter: dropshadow(color=#000, offx=1, offy=1);
}

#posts{
  /*margin-top: 50px;*/
  width: 600px;
  /*position: absolute;
  left: 420px;*/
  margin-left: 280px;
  font-size: 1.2em;
  padding: 40px 30px 10px 30px;

  background-color: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

  -webkit-box-shadow: 0px 0px 20px #212552;
  -moz-box-shadow: 0px 0px 20px #212552;
  box-shadow: 0px 0px 20px #212552;
}

.post {
  padding-bottom: 50px;
}
.post h2{
  font-size: 2em; 
  color: #96233c;
}

.post h2 a{
  color: #96233c;
  text-decoration: none;
}

.post p{
  padding: 5px 0;
}

.post .date{
  font-size:60%;
  padding-bottom:10px;

}

.post .body{
}

.section img{
  padding: 15px 0 5px;
}


.post ul{
  padding: 5px 0
}

.post li {
  padding: 3px 0;
  list-style: disc inside;
}

.reset_float {
  clear: both;
}

iframe {
  padding: 20px;
}


