<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {% capture title %}{% if page.title %}{{ page.title }} | {% endif %}Scottish Ruby User Group{% endcapture %}
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" media="screen">
    <link rel="index" title="Scottish Ruby User Group" href="http://scotrug.org/">
    <link rel="canonical" href="http://scotrug.org/">
    {% if page.excerpt %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@scotrug">
    <meta name="og:title" content="{{ title }}">
    <meta name="og:description" content="{{ page.excerpt | strip_html }}">
    {% endif %}
  </head>
  <body>
    <header class="header">
      <a class="twitter-link" href="http://twitter.com/scotrug">Follow us on Twitter</a>
      <h1><a href="/">Scottish Ruby User Group</a></h1>
    </header>
    <main id="content">
      <sidebar id="left">
        {% capture about %}{% include about.md %}{% endcapture %}
        {{ about | markdownify }}
      </sidebar>
      <div id="posts">
        {{ content }}
      </div>
      <div class="reset_float"></div>
    </main>
  </body>
</html>
