<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Scottish Ruby User Group  </title>
    <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/stylesheets/scotrug.css" type="text/css" media="screen">
    <link rel="index" title="Scottish Ruby User Group" href="http://scotrug.org/">
    <link rel="canonical" href="http://scotrug.org/">
  </head>
  <body>
    <div class="header">
      <a class="twitter-link" href="http://twitter.com/scotrug">Follow us on Twitter</a>
      <h1><a href="/">Scottish Ruby User Group</a></h1>
    </div>
    <div id="content">
      <div id="left">
        {% capture about %}{% include about.md %}{% endcapture %}
        {{ about | markdownify }}
      </div>
      <div id="posts">
        {{ content }}
      </div>
      <div class="reset_float"></div>
    </div>
  </body>
</html>
