<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Scottish Ruby User Group  </title>
  <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/stylesheets/scotrug.css" type="text/css" media="screen">
<link rel="index" title="Scottish Ruby User Group" href="http://scotrug.org/">
<link rel="canonical" href="http://scotrug.org/">
</head>
<body>
  <div id="page">


    <div id="header">
		<div id="twitter"><a href="http://twitter.com/scotrug">follow us on twitter</a></div>
      <h1><a href="http://scotrug.org/">Scottish Ruby User Group</a></h1>
    </div>

	<div id="content">

    <div id="left">
      <div class="section">
        <h2 >About</h2>
        <p>The
          Scottish Ruby User Group is a collection of people who are linked with
          Scotland and have an interest in Ruby and, invariably, Ruby on Rails.
          We meet every month for presentations from members and guests and a chat about Ruby and Ruby Related events. Everybody is
          welcome and there are no subscriptions/costs involved.</p>
      </div>
      <div class="section">
        <h2>Meetings</h2>
        <p>We meet on the
          third Thursday of the month at 19:30 onwards, at The Edinburgh Training Centre, 16 St. Marys Street, Edinburgh, EH1 1SU (<a href="http://maps.google.co.uk/maps?client=safari&q=EH1+1SU&oe=UTF-8&ie=UTF8&hl=en&hq=&hnear=Edinburgh+EH1+1SU,+United+Kingdom&z=15">Google map</a>).  The meeting room costs are covered by <a href="http://www.freeagentcentral.com/">FreeAgent Central</a>, who provide online Accounting Software for freelancers and small businesses (written in Rails). </p>
      </div>
      <div class="section">
        <h2>Mailing List / Google Group</h2>
        <p>You can subscribe to the mailing list using the&nbsp;<a href="http://groups.google.com/group/scotrug">ScotRUG Google Group information page</a>. The list is for announcements of&nbsp;<strong>ScotRUG</strong>&nbsp;activities
          and general support/discussion about Ruby (and Ruby on Rails!). Feel
          free to post any questions you have; we’re an open and friendly
          community. As of the last time I checked, the mailing list has around
          75 members.</p>
      </div>
      <div class="section">
        <h2>Video</h2>

        <p>Videos of previous presentations, provided courtesy of <a href="http://edgecase.com">EdgeCase UK</a>, are available <a href="http://vimeo.com/edgecaseuk">here</a>.</p>
      </div>
      <div class="section">
        <h3>IRC group</h3>
        <p>We now also have an IRC channel available. It’s pretty quiet at the
          moment, but I’m sure we’ll pick up a number of idlers now that it’s
          been announced. You can find us on <code>irc.freenode.net</code>&nbsp;in&nbsp;<code>#<strong>scotrug</strong></code>.</p>

      </div>
      <div class="section">
        <h3>Sponsors</h3>
        <a href="http://www.freeagentcentral.com/"><img src="/images/freeagent-logo.png"/>
        <p><a href="http://www.freeagentcentral.com/">Free Agent Central</a> pick up the bill for our meetings.</p>
        <a href="http://edgecase.com"><img src="/images/edgecaselogo.png"></a>
        <p><a href="http://edgecase.com">EdgeCase UK</a> sponsor the meeting videos.</p>
      </div>
    </div>
    <div id="posts">
      {{content}}
    </div>

	<div class="reset_float"></div>

	</div>

    <div id="footer">
      <p>
      </p>
    </div>
  </div>


</body>
</html>
